﻿html {
    height: 100%
}

body {
    height: 100%;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal
}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9000;
    margin: 5vw 5vw;
    height: calc(100% - 10vw);
    border: 2px solid white
}

.homeLeftContent {
    margin: 5vw 5vw;
    height: calc(100% - 10vw);
    padding-top: 1vw;
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.homeRightContent {
    margin: 5vw 5vw;
    height: calc(100% - 10vw);
    padding-top: 1vw;
    display: flex;
    flex-direction: column;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.winHeader {
    color: #ED174C;
    font-size: 2.5vw;
    padding-left: 1vw;
    font-weight: bold
}

.textTitle {
    color: #fff;
    font-size: 1.3vw;
    padding-left: 1vw
}

.textContent {
    color: #fff;
    font-size: 1vw;
    padding-left: 1vw;
    padding-top: 30px;
}

.roomHeader {
    color: #fff;
    font-size: 1.7vw;
    padding-left: 1vw;
    font-weight: 700
}

.roomHeaderPortrait {
    color: #fff;
    font-size: 4vw;
    padding-left: 1vw;
    font-weight: 700
}

.roomTitle {
    color: #fff;
    font-size: 1.3vw;
    padding-left: 1vw;
    font-weight: 600
}

.roomTitlePortrait {
    color: #fff;
    font-size: 2.8vw;
    padding-left: 1vw;
    font-weight: 600
}

.roomText {
    color: #fff;
    font-size: 1.2vw;
    padding-left: 1vw;
}

.roomTextPortrait {
    color: #fff;
    font-size: 3.2vw;
    padding-left: 1vw;
}

.homeDotSpacing {
    margin-right: 5px;
    cursor: pointer
}

.homeDotRed {
    color: #ED174C;
}

.actionButton {
    background-color: #ED174C;
    color: white;
    -ms-border-radius: 6px;
    border-radius: 6px;
    width: 150px;
    font-weight: bold;
    padding: 5px 12px 5px 12px;
    display: table-cell;
    cursor: pointer;
    z-index: 9030;
    border: none;
    text-align: left;
    font-size: 16px;
}

.overlay {
    position: fixed;
    top: 2.5vw;
    right: 4vw;
    height: calc(100% - 5vw);
    width: 50%;
    z-index: 9010;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.85);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.85);
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.85);
    overflow: hidden
}

.overlayContainer {
    position: fixed;
    top: 0;
    left: 45%;
    height: 100%;
    width: 100%;
    z-index: 9001;
    overflow: hidden;
}

.img-slider {
    width: 100%;
    height: auto;
}

.overlayPrevIcon {
    position: fixed;
    top: 50%;
    left: 10px;
    z-index: 10;
    z-index: 9020;
    color: black;
    background-color: #2e313a;
    border-radius: 25px;
    height: 25px;
    width: 25px;
    padding-left: 7px;
    padding-top: 3px;
    color: white;
    cursor: pointer
}

.overlayNextIcon {
    position: fixed;
    top: 50%;
    right: 10px;
    z-index: 10;
    z-index: 9020;
    color: black;
    background-color: #2e313a;
    border-radius: 25px;
    height: 25px;
    width: 25px;
    padding-left: 8px;
    padding-top: 3px;
    color: white;
    cursor: pointer
}

.backButton {
    background-color: rgba(0, 0, 0, 0.5);
    width: 4vw;
    height: 4vw;
    color: white;
    margin-left: 1vw;
    margin-top: 1vw;
    border-radius: 4vw;
    padding-top: calc(2vw - 10px);
    padding-left: calc(2vw - 7px);
    cursor: pointer
}

.backButtonPortrait {
    background-color: rgba(0, 0, 0, 0.5);
    width: 7vw;
    height: 7vw;
    color: white;
    margin-left: 1vw;
    margin-top: 1vw;
    border-radius: 7vw;
    padding-top: calc(3.5vw - 11px);
    padding-left: calc(3.5vw - 7px);
    cursor: pointer
}

.chosenSliderContent {
    display: flex;
    flex-direction: column;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: calc(100% - 4vw);
    width: 100%
}

.overlaySlider1 {
    background-color: rgba(95, 94, 95, 0.95);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.overlaySlider2 {
    background-color: rgba(180, 155, 132, 0.95);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.overlaySlider3 {
    background-color: rgba(239, 131, 130, 0.95);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.overlaySlider4 {
    background-color: rgba(89, 115, 116, 0.95);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.overlaySlider5 {
    background-color: rgba(174, 175, 180, 0.95);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.overlaySlider6 {
    background-color: rgba(71, 85, 99, 0.95);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.hideWhenChosen {
}

.fullContent {
    margin: 3vw;
    height: calc(100% - 6vw);
    padding-top: 1vw;
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.formLabel {
    font-size: 1vw;
    color: white;
    font-weight: normal
}

.formRow {
    margin-bottom: 1.85vh
}

input[type=text], input[type=email] {
    width: 100%;
    /*background-color: #beb0a3;*/
    /*background-color: rgba(168, 168, 168, 0.6);*/
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 10px;
    border: none
}

select {
    width: 100%;
    /*background-color: #beb0a3;*/
    /*background-color: rgba(168, 168, 168, 0.5);*/
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 10px;
    border: none;
    -webkit-appearance: none;
}

.customCheckbox {
    width: 27px;
    height: 27px;
    margin: 2px 0 2px 0;
    background-color: rgba(168, 168, 168, 0.6);
    border-radius: 100%;
    position: relative;
}

    .customCheckbox label.inner {
        display: block;
        width: 22.75px;
        height: 22.75px;
        border-radius: 100px;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        -ms-transition: all .5s ease;
        transition: all .5s ease;
        cursor: pointer;
        position: absolute;
        top: 2.125px;
        left: 2.125px;
        z-index: 1;
    }

    .customCheckbox label.outer {
        margin-left: 40px;
        font-size: 1vw;
        line-height: 2vw;
        color: white;
        white-space: nowrap;
        font-weight: normal;

    }

    .customCheckbox [type=checkbox] {
        display: none
    }

.red.customCheckbox input[type=checkbox]:checked + label.inner {
    background: #ed174c
}

div.centerContainer {
    display: flex;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center
}

a {
    color: white;
    font-size: 0.8vw;
    text-decoration: none
}

a:hover, a:visited, a:active {
    color: white;
    text-decoration: none
}

.thankyouMessageTitle {
    color: white;
    font-size: 2.9vw;
    text-align: center;
    font-weight: bold
}

.thankyouMessageText {
    color: white;
    font-size: 1.2vw;
    text-align: center;
    font-weight: bold
}

input.authError {
    border: 3px solid #ed174c
}

*:focus {
    outline: none;
}
  
/* Cape town */
.logoContent {
    margin: 1vw 1vw;
    height: calc(100% - 2vw);
    padding-top: 1vw;
    display: flex;
    flex-direction: column;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    left: -4vw;
    z-index: 4
}
.startContent {
    margin: 5vw 5vw;
    height: calc(100% - 10vw);
    width: calc(100% - 20vw);
    padding-top: 1vw;
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.roomOverlay {
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.85);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.85);
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.85);
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 100
}
.roomDetailOverlay {
    width: 100%;
    height: 100%;
    z-index: 110;
    position: absolute;
    left: 0;
    top: 0
}
.rotateContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center
}
.contentColumn {
    width: calc(100% - 10vw) !important;
    margin-left: 5vw;
    margin-right: 5vw;
}
.contentColumnPortrait {
    width: calc(100% - 20vw) !important;
    margin-left: 10vw;
    margin-right: 10vw;
}
.form_Container {
    padding-left: 20vw;
    padding-right: 20vw
}
.form_Logo {
    width: 20%;
    display: block;
    margin: auto
}
.form_Checkbox {
    width: 200px
}
.form_LogoContainer {
    margin-bottom: 35px
}

.overlayArrowNext {
    position: fixed;
    top: 50%;
    right: 10px;
    z-index: 9020;
    background-color: #2e313a;
    border-radius: 29px;
    height: 29px;
    width: 29px;
    cursor: pointer
}
.overlayArrowPrev {
    position: fixed;
    top: 50%;
    left: 10px;
    z-index: 9020;
    background-color: #2e313a;
    border-radius: 29px;
    height: 29px;
    width: 29px;
    cursor: pointer
}

.termsContainer {
    margin: 5vw;
    border: 4px solid white
}

.termsHeader {
    font-size: 3vw;
    color: white;
    font-weight: bold
}
.termsHeaderContainer {
    display: table-cell;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px
}
.termsHeadline {
    font-size: 1.2vw;
    color: white;
    font-weight: bold
}

.termsContent {
    font-size: 1vw;
    color: white;
    font-weight: normal
}

li {
    font-size: 1vw;
    color: white;
    font-weight: normal
}
.termsLogo {
    display: table-cell;
    padding-top: 50px;
    padding-bottom: 50px
}
.termsLogoImage {
    width: 200px;
    margin-left: auto;
    margin-right: auto
}
.termsContentContainer {
    display: table-cell;
    text-align: left;
    padding-top: 0;
    padding-bottom: 15px
}
.termsButton {
    font-size: 1.2vw;
    line-height: 30px;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
    .form_Container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .form_Logo {
        /*width: 15% !important;*/
        display: block;
        margin: auto
    }
    input[type=text], input[type=email], select {
        padding: 1px !important;
        -ms-border-radius: 5px !important;
        border-radius: 5px !important
    }
    .form_Checkbox {
        width: 150px !important
    }
    .form_LogoContainer {
        margin-bottom: 5px !important
    }

    .termsLogo {
        display: table-cell;
        padding-top: 20px;
        padding-bottom: 20px
    }
    .termsLogoImage {
        width: 40%;
        margin-left: auto;
        margin-right: auto
    }
    .termsHeaderContainer {
        display: table-cell;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px
    }
    .termsContentContainer {
        padding-bottom: 5px
    }
    .termsContent {
        font-size: 2vw;
    }
    li {
        font-size: 2vw;
    }
    .termsHeadline {
        font-size: 2.2vw;
    }
    .termsButton {
        font-size: 3.2vw;
    }
}

@media only screen and (min-device-width : 360px) and (max-device-width : 640px) {
    .form_Container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .form_Logo {
        /*width: 15% !important;*/
        display: block;
        margin: auto
    }

    input[type=text], input[type=email], select {
        padding: 1px !important;
        -ms-border-radius: 5px !important;
        border-radius: 5px !important
    }

    .form_Checkbox {
        width: 150px !important
    }

    .form_LogoContainer {
        margin-bottom: 5px !important
    }

    .termsLogo {
        display: table-cell;
        padding-top: 20px;
        padding-bottom: 20px
    }
    .termsLogoImage {
        width: 40%;
        margin-left: auto;
        margin-right: auto
    }
    .termsHeaderContainer {
        display: table-cell;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px
    }
    .termsContent {
        font-size: 2vw;
    }
    li {
        font-size: 2vw;
    }
    .termsHeadline {
        font-size: 2.2vw;
    }
    .termsButton {
        font-size: 3.2vw;
    }
}

@media only screen and (min-device-width : 360px) and (max-device-width : 740px) {
    .form_Container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .form_Logo {
        /*width: 10% !important;*/
        display: block;
        margin: auto
    }

    input[type=text], input[type=email], select {
        padding: 1px !important;
        -ms-border-radius: 5px !important;
        border-radius: 5px !important
    }

    .form_Checkbox {
        width: 150px !important
    }

    .form_LogoContainer {
        margin-bottom: 5px !important
    }

    .formRow {
        margin-bottom: 0 !important
    }

    .termsLogo {
        display: table-cell;
        padding-top: 20px;
        padding-bottom: 20px
    }
    .termsLogoImage {
        width: 40%;
        margin-left: auto;
        margin-right: auto
    }
    .termsHeaderContainer {
        display: table-cell;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px
    }
    .termsContent {
        font-size: 2vw;
    }
    li {
        font-size: 2vw;
    }
    .termsHeadline {
        font-size: 2.2vw;
    }
    .termsButton {
        font-size: 3.2vw;
    }
}