﻿@using System.Configuration
@{
    ViewBag.Title = "Plascon Decorex SA";
    var backgroundChangeInterval = ConfigurationManager.AppSettings["BackgroundChangeInterval"];
    var priceDescription = ConfigurationManager.AppSettings["PriceDescription"].Replace("|b|", "<b>").Replace("|/b|", "</b>").Replace("|br|", "<br />");
    var termsUrl = ConfigurationManager.AppSettings["TermsUrl"];
    var fromThankyou = Convert.ToBoolean(ViewBag.FromThankYou);
    var sliderTitle = new List<string>();
    var sliderText = new List<string>();
    var imageVersion = ConfigurationManager.AppSettings["ImageVersion"];
    for (var i = 0; i < 6; i++)
    {
        sliderTitle.Add(ConfigurationManager.AppSettings["TitleSlider" + (i + 1)].Replace("|b|", "<b>").Replace("|/b|", "</b>").Replace("|br|", "<br />"));
    }
    for (var i = 0; i < 6; i++)
    {
        sliderText.Add(ConfigurationManager.AppSettings["TextSlider" + (i + 1)].Replace("|b|", "<b>").Replace("|/b|", "</b>").Replace("|br|", "<br />"));
    }

}

<style>
</style>

<div id="divRoomContainer" class="overlayContainer hidden">
    <div id="divRoom" class="overlay">
        <img src="~/Content/Images/Slider1.jpg?ver=@imageVersion" alt="Room" class="img-responsive img-slider" id="imgSlider" />
        @for (var i = 1; i < 7; i++)
        {
            <div class="overlaySlider@(i) hidden">
                <div class="backButton"><i class="fa fa-angle-left" style="font-size: 22px;"></i></div>
                <div class="chosenSliderContent">
                    <div class="row">
                        <div class="col-sm-5 col-sm-offset-3 roomHeader">
                            @Html.Raw(sliderTitle[i - 1])
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="row" style="margin-top: 30px">
                        <div class="col-sm-5 col-sm-offset-3 roomText">
                            @Html.Raw(sliderText[i - 1])
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="row" style="margin-top: 20px">
                        <div class="col-sm-5 col-sm-offset-3 roomTitle">
                            Share your colour choice and you could <span style="color: #ed174c">WIN!</span>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="row" style="margin-top: 40px; margin-bottom: 10vw">
                        <div class="col-sm-5 col-sm-offset-3" style="">
                            <span class="actionButton" id="btnEnter" onclick="captureForm()">Enter<i class="fa fa-angle-right pull-right" style="font-size: 16px; padding-top: 3px"></i></span>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div id="divPrev" class="overlayPrevIcon hidden">
    <i class="fa fa-angle-left" style="font-size: 20px;"></i>
</div>

<div id="divNext" class="overlayNextIcon hidden">
    <i class="fa fa-angle-right" style="font-size: 20px;"></i>
</div>

<div class="content">
    <div class="row" style="height: 100%" id="divRoomChooser">
        <div class="col-xs-4" style="height: 100%">
            <div class="homeLeftContent">
                <div style="">
                    <img src="~/Content/Images/PlasconDFL.png" class="img-responsive" alt="Plascon" style="width: 70%" />
                </div>
                <div class="winHeader hideWhenChosen">
                    WIN
                </div>
                <div class="textTitle hideWhenChosen">
                    @Html.Raw(priceDescription)
                </div>
                <div class="textContent hideWhenChosen">
                    Find out what your colour choice says about you.
                </div>
                <div class="textContent hideWhenChosen" id="divRoomSelect" style="visibility: hidden">
                    <i class="fa fa-circle fa-xs homeDotSpacing" id="sliderBullet1" onclick="changeRoom(1)"></i>
                    <i class="fa fa-circle fa-xs homeDotSpacing" id="sliderBullet2" onclick="changeRoom(2)"></i>
                    <i class="fa fa-circle fa-xs homeDotSpacing" id="sliderBullet3" onclick="changeRoom(3)"></i>
                    <i class="fa fa-circle fa-xs homeDotSpacing" id="sliderBullet4" onclick="changeRoom(4)"></i>
                    <i class="fa fa-circle fa-xs homeDotSpacing" id="sliderBullet5" onclick="changeRoom(5)"></i>
                    <i class="fa fa-circle fa-xs homeDotSpacing" id="sliderBullet6" onclick="changeRoom(6)"></i>
                </div>
                <div class="textContent hideWhenChosen" style="">
                    <span class="actionButton" id="btnStart">START<i class="fa fa-angle-right pull-right" style="font-size: 16px; padding-top: 3px"></i></span>
                    <span class="actionButton hidden" id="btnChoose">This is so me<i class="fa fa-angle-right pull-right" style="font-size: 16px; padding-top: 3px"></i></span>
                </div>
            </div>
        </div>
        <div class="col-xs-8" style="height: 100%">
            <div class="homeRightContent">
                <img src="~/Content/Images/decorex.png" alt="Decorex" class="img-responsive" style="width: 90%" id="imgDecorex" />
            </div>
        </div>
    </div>

    <div class="row hidden" style="height: 100%" id="divRoomChosen">
        <div class="col-sm-8 col-sm-offset-2" style="height: 100%">
            <form id="subForm" class="js-cm-form" style="height: 100%" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="A61C50BEC994754B1D79C5819EC1255CE200EED24629C505A2E4F89C5E8C9998854E953471A7FA9258AED4B99D89619ECC639F2BC5E23B33E2B41C4685D323CE">
                <div class="fullContent">
                <div class="col-sm-12" style="margin-bottom: 35px">
                    <img src="~/Content/Images/PlasconDFL.png" class="img-responsive" alt="Plascon" style="width: 30%; display: block; margin: auto" />
                </div>
                <div class="col-sm-12">
                    <div class="row formRow">
                        <div class="col-sm-6">
                            <label for="fieldName" class="formLabel">First Name *</label><br />
                            <input id="fieldName" name="cm-name" type="text" required />
                        </div>
                        <div class="col-sm-6">
                            <label for="fieldjykhutt" class="formLabel">Last Name *</label><br />
                            <input id="fieldjykhutt" name="cm-f-jykhutt" type="text" required />
                        </div>
                    </div>
                    <div class="row formRow">
                        <div class="col-sm-6">
                            <label for="fieldjykhurt" class="formLabel">Cell *</label><br />
                            <input id="fieldjykhurt" name="cm-f-jykhurt" type="text" required />
                        </div>
                        <div class="col-sm-6">
                            <label for="fieldEmail" class="formLabel">Email *</label><br />
                            <input id="fieldEmail" class="js-cm-email-input" name="cm-sykgy-sykgy" type="email" required />
                        </div>
                    </div>
                    <div class="row formRow">
                        <div class="col-sm-6">
                            <label for="fieldjykhuri" class="formLabel">Gender</label><br />
                            <select id="fieldjykhuri" name="cm-fo-jykhuri">
                                <option value=""></option>
                                <option value="2869209">Male</option>
                                <option value="2869210">Female</option>
                                <option value="2869945">Other</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label for="fieldjykujij" class="formLabel">Age</label><br />
                            <select id="fieldjykujij" name="cm-fo-jykujij">
                                <option value=""></option>
                                <option value="2869946">Younger</option>
                                <option value="2869947">18 - 24</option>
                                <option value="2869948">25 - 34</option>
                                <option value="2869949">35 - 44</option>
                                <option value="2869950">45 - 54</option>
                                <option value="2869951">55 - 64</option>
                                <option value="2869952">65 - 74</option>
                                <option value="2869953">Older</option>
                            </select>
                        </div>
                    </div>
                    <div class="row formRow">
                        <div class="col-sm-12" style="display: flex; justify-content: center">
                            <div style="width: 200px">
                                <div class="red customCheckbox">
                                    <input type="checkbox" value="2869211" id="fieldjykhujj" name="cm-fo-jykhujj">
                                    <label class="inner" for="fieldjykhujj"></label>
                                    <label class="outer" for="fieldjykhujj">Receive news from Plascon.</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row formRow" style="margin-top: 1.85vh">
                        <div class="col-sm-12 centerContainer" style="">
                            <input id="fieldjykhujt" name="cm-f-jykhujt" type="hidden" value="1" />
                            <button class="actionButton" type="submit" style="">Submit<i class="fa fa-angle-right pull-right" style="font-size: 16px; padding-top: 3px"></i></button> 
                        </div>
                    </div>
                    <div class="row formRow" style="margin-top: 1.85vh">
                        <div class="col-sm-12 centerContainer">
                            <a href="@termsUrl" target="_blank">Terms & Conditions</a>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>

    <div class="row hidden" style="height: 100%" id="divThankYou">
        <div class="col-sm-10 col-sm-offset-1" style="height: 100%">
            <div class="fullContent">
                <div class="col-sm-12" style="margin-bottom: 35px">
                    <img src="~/Content/Images/PlasconDFL.png" class="img-responsive" alt="Plascon" style="width: 30%; display: block; margin: auto" />
                </div>
                <div class="col-sm-12">
                    <div class="row formRow">
                        <div class="col-sm-12 thankyouMessageTitle centerContainer">
                            You have been entered into the draw.
                        </div>
                    </div>
                    <div class="row formRow">
                        <div class="col-sm-12 thankyouMessageText centerContainer">
                            Good luck!
                        </div>
                    </div>
                    <div class="row formRow" style="margin-top: 10vh">
                        <div class="col-sm-12 centerContainer" style="">
                            <span class="actionButton" id="btnReset" onclick="done()">Done<i class="fa fa-angle-right pull-right" style="font-size: 16px; padding-top: 3px"></i></span>
                        </div>
                    </div>
                    <div class="row formRow" style="margin-top: 1.85vh">
                        <div class="col-sm-12 centerContainer">
                            <a href="@termsUrl" target="_blank">Terms & Conditions</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts {
    <script type="text/javascript">
        var backgroundCounter = 1;
        var refreshInterval;
        var currentBackground = 1;
        var leftStop = 0;
        var swipeEnabled = false;

        function changeBackground() {
            $.backstretch("/content/images/backSlider" + backgroundCounter + ".jpg?ver=@imageVersion",
                { transitionDuration: 500 });
            backgroundCounter = (backgroundCounter === 6) ? 1 : backgroundCounter + 1;
        }

        $("#btnStart").on("click",
            function() {
                clearInterval(refreshInterval);
                $.backstretch("/content/images/backSlider1.jpg?ver=@imageVersion", { transitionDuration: 500 });
                $("#imgDecorex").addClass("hidden");
                $("#divRoomContainer").removeClass("hidden");
                $("#sliderBullet1").addClass("homeDotRed");
                $("#btnStart").addClass("hidden");
                $("#btnChoose").removeClass("hidden");
                $("#divNext").removeClass("hidden");
                $("#divPrev").removeClass("hidden");
                $("#divRoomSelect").css("visibility", "visible");
                localStorage.setItem("roomNumber", 1);
                swipeEnabled = true;

            });

        $("#divNext").on("click",
            function() {
                nextClick();
            });

        $("#divPrev").on("click",
            function() {
                previousClick();
            });

        function nextClick() {
            currentBackground = (currentBackground === 6) ? 1 : currentBackground + 1;
            changeRoom(currentBackground, 'left');
        }

        function previousClick() {
            currentBackground = (currentBackground === 1) ? 6 : currentBackground - 1;
            changeRoom(currentBackground, 'right');
        }

        function changeRoom(roomNumber, direction) {
            $("#divNext").off("click");
            $("#divPrev").off("click");
            currentBackground = roomNumber;
            localStorage.setItem("roomNumber", roomNumber);
            $("#fieldjykhujt").val(roomNumber);

            leftStop = $("#divRoom").offset().left;
            $("#divRoom").css("left", leftStop);

            $.backstretch("/content/images/backSlider" + currentBackground + ".jpg?ver=@imageVersion",
                { transitionDuration: 500 });
            $(".homeDotSpacing").removeClass("homeDotRed");
            $("#sliderBullet" + currentBackground).addClass("homeDotRed");

            if (direction === 'left') {
                $("#divRoom").animate({
                    left: '-50%'
                    },
                    300,
                    function() {
                        $("#divRoom").css('left', '150%');
                        $("#imgSlider").attr("src", "/Content/Images/Slider" + currentBackground + ".jpg?ver=@imageVersion");
                    });

                $("#divRoom").animate({
                        left: leftStop
                    },
                    200,
                    function() {
                        $("#divNext").on("click", nextClick);
                        $("#divPrev").on("click", previousClick);
                    });
            } else {
                $("#divRoom").animate({
                        left: '150%'
                    },
                    300,
                    function() {
                        $("#divRoom").css('left', '0');
                        $("#imgSlider").attr("src", "/Content/Images/Slider" + currentBackground + ".jpg?ver=@imageVersion");
                    });

                $("#divRoom").animate({
                        left: leftStop
                    },
                    200,
                    function() {
                        $("#divNext").on("click", nextClick);
                        $("#divPrev").on("click", previousClick);
                    });
            }
        }

        $("#btnChoose").on("click",
            function() {
                $(".overlaySlider" + currentBackground).removeClass("hidden");
                $(".hideWhenChosen").css('visibility', 'hidden');
                $("#divPrev").addClass("hidden");
                $("#divNext").addClass("hidden");
                swipeEnabled = false;
            });

        $(".backButton").on("click",
            function() {
                $(".overlaySlider" + currentBackground).addClass("hidden");
                $(".hideWhenChosen").css('visibility', 'visible');
                $("#divPrev").removeClass("hidden");
                $("#divNext").removeClass("hidden");
            });

        function captureForm() {
            $("#divRoomContainer").addClass("hidden");
            $("#divRoomChooser").addClass("hidden");
            $("#divRoomChosen").removeClass("hidden");
        }

        $("#btnSubmit").on("click",
            function() {
                $("#divRoomChosen").addClass("hidden");
                $("#divThankYou").removeClass("hidden");
            });

        $("#subForm").validate({
            errorClass: "authError",
            errorElement: "span",
            errorPlacement: function(error, element) {}
        });

        function done() {
            localStorage.setItem("roomNumber", "");
            window.location.href = "/";
        }

        $(document).ready(function() {
            @if (!fromThankyou)
            {
                <text>
                    changeBackground();

                    refreshInterval = setInterval(function() { changeBackground(); }, @backgroundChangeInterval);
                </text>
            }
            else
            {
                <text>
                    var persistBackground = localStorage.getItem("roomNumber");
                    if (isNaN(persistBackground)) {
                        persistBackground = 1;
                    }

                    $.backstretch("/content/images/backSlider" + persistBackground + ".jpg?ver=@imageVersion",
                        { transitionDuration: 500 });
                    $("#divRoomChooser").addClass("hidden");
                    $("#divRoomChosen").addClass("hidden");
                    $("#divThankYou").removeClass("hidden");

                </text>
            }
        });


        $(function() {
            $(document).swipe({
                swipe: function(event, direction, distance, duration, fingerCount, fingerData) {
                    if (swipeEnabled) {
                        if (direction === 'left') {
                            nextClick();
                        }
                        if (direction === 'right') {
                            previousClick();
                        }
                    }
                },
                threshold: 20
            });
        });

    </script>

    <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
}

  