﻿@using System.Configuration

@{
    ViewBag.Title = "Decorex";

    var imageVersion = ConfigurationManager.AppSettings["ImageVersion"];
    var backgroundChangeInterval = ConfigurationManager.AppSettings["BackgroundChangeInterval"];
    var priceDescription = ConfigurationManager.AppSettings["PriceDescription"].Replace("|b|", "<b>").Replace("|/b|", "</b>").Replace("|br|", "<br />");
    var numberOfRooms = Convert.ToInt32(ConfigurationManager.AppSettings["NumberOfRooms"]);
    var termsUrl = ConfigurationManager.AppSettings["TermsUrl"];
    var fromThankyou = Convert.ToBoolean(ViewBag.FromThankYou);

    var roomData = "{ room: [";

    for (var i = 1; i <= numberOfRooms; i++)
    {
        var number = $"{i:D2}";
        var title = ConfigurationManager.AppSettings["Room_" + $"{i:D2}" + "_Title"].Replace("'", "\\'");
        var text = ConfigurationManager.AppSettings["Room_" + $"{i:D2}" + "_Text"].Replace("'", "\\'");
        var rgb = ConfigurationManager.AppSettings["Room_" + $"{i:D2}" + "_BackgroundRgb"];

        roomData += "{";
        roomData += $"number: '{number}', title: '{title}', text: '{text}', rgb: '{rgb}'";
        roomData += "}";
        if (i != numberOfRooms)
        {
            roomData += ",";
        }
    }
    roomData += "]}";
}

<style>
    body, html {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .div1 {
        height: 100%;
        z-index: 3;
    }

    .div2 {
        height: 100%;
        z-index: 3;
    }

    .div3 {
        height: 100%;
        z-index: 3;
        position: relative
    }

    .pageContainer {
        margin: 5vw;
        border: 3px solid white;
        width: calc(100% - 10vw);
        height: calc(100% - 10vw);
        z-index: 1;
        position: fixed
    }

    /*.frameContainer {
        margin: 4vw;
        background-color: rgba(0, 255, 0, 0.5);
        width: calc(100% - 8vw);
        height: calc(100% - 8vw);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 2;
        display: inline-block
    }*/

    .frameContainer {
        margin: 4vw;
        clear: both;
        padding: 0;
        width: calc(100% - 8vw);
        height: calc(100% - 8vw);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
    }

    .col {
        display: block;
        float: left;
    }

        .col:first-child {
            margin-left: 0;
        }

    .group:before, .group:after {
        content: "";
        display: table;
    }

    .group:after {
        clear: both;
    }

    .group {
        zoom: 1; /* For IE 6/7 */
    }
</style>
<div style="height: 100%; width:100%" id="divBody">
    <div class="pageContainer">
    </div>
    <div class="frameContainer group hidden rotateContainer" id="divThankYou">
        <div class="col-sm-10 col-sm-offset-1" style="height: 100%">
            <div class="fullContent">
                <div class="col-sm-12" style="margin-bottom: 35px">
                    <img src="~/Content/Images/PlasconDFL.png" class="img-responsive" alt="Plascon" style="width: 30%; display: block; margin: auto" id="divThankYouLogo" />
                </div>
                <div class="col-sm-12">
                    <div class="row formRow">
                        <div class="col-sm-12 thankyouMessageTitle centerContainer">
                            You have been entered into the draw.
                        </div>
                    </div>
                    <div class="row formRow" style="padding-top: 15px">
                        <div class="col-sm-12 thankyouMessageText centerContainer">
                            Good luck!
                        </div>
                    </div>
                    <div class="row formRow" style="margin-top: 10vh">
                        <div class="col-sm-12 centerContainer" style="">
                            <span class="actionButton" id="btnReset" onclick="done()">Done<i class="fa fa-angle-right pull-right" style="font-size: 16px; padding-top: 3px"></i></span>
                        </div>
                    </div>
                    <div class="row formRow" style="margin-top: 1.85vh">
                        <div class="col-sm-12 centerContainer">
                            <a href="@termsUrl" target="_blank">Terms & Conditions</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="frameContainer group hidden rotateContainer" id="divWarning">
        <img src="~/Content/Images/PlasconDFL.png" class="img-responsive" alt="Plascon" style="width: 20%; margin-left: auto; margin-right: auto; padding-bottom: 10px" />
        <img src="~/Content/Images/RotateIconLandscape.png" alt="Rotate" id="imgRotate" style="width: 82px; height: 82px; margin-left: auto; margin-right: auto" />
        <span style="color: white; margin-top: 10px">Rotate your device to continue.</span>
    </div>
    <div class="frameContainer group hidden" id="divMainLandscape">
        <div class="div1 col">
            <div class="startContent">
                <div style="">
                    <img src="~/Content/Images/PlasconDFL.png" class="img-responsive" alt="Plascon" style="width: 70%; max-width: 200px !important" />
                </div>
                <div class="winHeader hideWhenChosen">
                    WIN
                </div>
                <div class="textTitle hideWhenChosen">
                    @Html.Raw(priceDescription)
                </div>
                <div class="textContent hideWhenChosen">
                    Find out what your colour choice says about you.
                </div>
                <div class="textContent hideWhenChosen" id="divRoomSelect" style="visibility: hidden">
                    @for (var i = 1; i <= numberOfRooms; i++)
                    {
                        <i class="fa fa-circle fa-xs homeDotSpacing" id="sliderBullet@(i)" onclick="changeRoom(@i)"></i>
                    }
                </div>
                <div class="textContent hideWhenChosen" style="">
                    <span class="actionButton" id="btnStart">START<i class="fa fa-angle-right pull-right" style="font-size: 16px; padding-top: 3px"></i></span>
                    <span class="actionButton hidden" id="btnChoose">This is so me<i class="fa fa-angle-right pull-right" style="font-size: 16px; padding-top: 3px"></i></span>
                </div>
            </div>
        </div>

        <div class="div2 col">
        </div>

        <div class="div3 col">
            <div class="logoContent">
                <img src="~/Content/Images/Decorex_CapeTown_2018.png" alt="Decorex" class="img-responsive" style="width: 90%" id="imgDecorex" />
            </div>
            <div id="divRoom" class="roomOverlay hidden">
                <img alt="Room" class="img-responsive img-slider" id="imgSlider" />
                <div id="divRoomDetail" class="roomDetailOverlay hidden">
                    <div class="backButton"><i class="fa fa-angle-left" style="font-size: 22px;"></i></div>
                    <div class="chosenSliderContent">
                        <div class="row">
                            @*<div class="col-xs-offset-4 col-xs-8 col-sm-5 col-sm-offset-3 roomHeader">*@
                            <div class="contentColumn roomHeader">
                                Title
                            </div>
                        </div>
                        <div class="row" style="margin-top: 30px">
                            <div class="contentColumn roomText">
                                Text
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px">
                            <div class="contentColumn roomTitle">
                                Share your colour choice and you could <span style="color: #ed174c; font-weight: bold">WIN!</span>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 40px; margin-bottom: 10vw">
                            <div class="contentColumn " style="">
                                <span class="actionButton" id="btnEnter" onclick="captureForm()">Enter<i class="fa fa-angle-right pull-right" style="font-size: 16px; padding-top: 3px"></i></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="frameContainer group hidden" id="divMainPortrait" style="">
        <div style="width: 100%; height: 92vw">
            <div id="divPortraitIntro" class="">
                <div style="">
                    <img src="~/Content/Images/PlasconDFL.png" class="img-responsive" alt="Plascon" style="width: 30%; margin-left: auto; margin-right: auto; padding-top: 50px" />
                </div>
                <div style="">
                    <img src="~/Content/Images/Decorex_CapeTown_2018.png" class="img-responsive" alt="Plascon" style="width: 80vw; margin-left: auto; margin-right: auto; padding-top: 100px" />
                </div>
            </div>
            <div id="divPortraitRoom" class="hidden" style="position: relative;">
                <div style="position: absolute; right: 10px; top: 10px; z-index: 1000; margin-left: 40px">
                    <img src="~/Content/Images/PlasconDFL.png" class="img-responsive" alt="Plascon" style="width: 20%; margin-left: auto; " />
                </div>
                <div class="roomOverlay" style="top: 0; left: 0; width: 100%">
                    <img alt="Room" class="img-responsive img-slider" id="imgSliderPortrait" />
                    <div id="divRoomDetailPortrait" class="roomDetailOverlay hidden" style="height: 92vw">
                        <div class="backButtonPortrait" style="z-index: 1001"><i class="fa fa-angle-left" style="font-size: 22px;"></i></div>
                        <div class="chosenSliderContent">
                            <div class="row">
                                <div class="contentColumnPortrait roomHeaderPortrait">
                                    Title
                                </div>
                            </div>
                            <div class="row" style="margin-top: 30px">
                                <div class="contentColumnPortrait roomTextPortrait">
                                    Text
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px">
                                <div class="contentColumnPortrait roomTitlePortrait">
                                    Share your colour choice and you could <span style="color: #ed174c; font-weight: bold">WIN!</span>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 40px; margin-bottom: 10vw">
                                <div class="contentColumnPortrait " style="">
                                    <span class="actionButton" id="btnEnterPortrait" onclick="captureForm()">Enter<i class="fa fa-angle-right pull-right" style="font-size: 16px; padding-top: 3px"></i></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="divPortraitFooter" style="width: 100%; height: calc(100vh - 100vw); background-color: rgba(255, 0, 0, 0); margin-top: 0; padding: 10px">
            <div class="" style="width: 100%;">
                <div class="textContent hideWhenChosen" id="divRoomSelectPortrait" style="visibility: hidden; text-align: center; padding-top: 5px; position: relative; display: block; top: -60px; z-index: 1001">
                    <span style="font-size: 4vw; text-shadow: 1px 1px black">&nbsp;</span><br />
                    &nbsp;<br/>&nbsp;<br />
                    @for (var i = 1; i <= numberOfRooms; i++)
                    {
                        <i class="fa fa-circle fa-lg homeDotSpacing" id="sliderBulletPortrait@(i)" onclick="changeRoomPortrait(@i)" style="text-shadow: 1px 1px black"></i>
                    }
                </div>
                <div class="winHeader hideWhenChosen" style="padding-left: 5vw; font-size: 6vw; position: relative; top: -40px">
                    WIN
                </div>
                <div class="textTitle hideWhenChosen" style="padding-left: 5vw; font-size: 4vw; position: relative; top: -40px">
                    @Html.Raw(priceDescription)
                </div>
                <div class="textContent hideWhenChosen" style="padding-left: 5vw; font-size: 3vw; padding-top: 10px; position: relative; top: -40px">
                    Find out what your colour choice says about you.
                </div>
                <div class="textContent hideWhenChosen" style="text-align: center; position: absolute; bottom: 20px; left: calc(45vw - 75px); display: block">
                    <span class="actionButton" id="btnStartPortrait" style="display: block; margin-left: auto; margin-right: auto">START<i class="fa fa-angle-right pull-right" style="font-size: 16px; padding-top: 3px;"></i></span>
                    <span class="actionButton hidden" id="btnChoosePortrait" style="display: block; margin-left: auto; margin-right: auto">This is so me<i class="fa fa-angle-right pull-right" style="font-size: 16px; padding-top: 3px"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="frameContainer group hidden rotateContainer form_Container" id="divForm">
        <form id="subForm" class="js-cm-form" style="height: 100%" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="A61C50BEC994754B1D79C5819EC1255CE200EED24629C505A2E4F89C5E8C9998854E953471A7FA9258AED4B99D89619ECC639F2BC5E23B33E2B41C4685D323CE">
            <div class="fullContent">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 form_LogoContainer" style="">
                    <img src="~/Content/Images/PlasconDFL.png" class="img-responsive form_Logo" alt="Plascon" />
                </div>
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="col-xs-12 col-sm-6" style="text-align: left; padding-bottom: 10px">
                        <label for="fieldName" class="formLabel" style="padding-left: 2px">First Name *</label><br />
                        <input id="fieldName" name="cm-name" type="text" required />
                    </div>
                    <div class="col-xs-12 col-sm-6" style="text-align: left; padding-bottom: 10px">
                        <label for="fieldjykhutt" class="formLabel" style="padding-left: 2px">Last Name *</label><br />
                        <input id="fieldjykhutt" name="cm-f-jykhutt" type="text" required />
                    </div>
                    <div class="col-xs-12 col-sm-6" style="text-align: left; padding-bottom: 10px">
                        <label for="fieldjykhurt" class="formLabel" style="padding-left: 2px">Cell *</label><br />
                        <input id="fieldjykhurt" name="cm-f-jykhurt" type="text" required />
                    </div>
                    <div class="col-xs-12 col-sm-6" style="text-align: left; padding-bottom: 10px">
                        <label for="fieldEmail" class="formLabel" style="padding-left: 2px">Email *</label><br />
                        <input id="fieldEmail" class="js-cm-email-input" name="cm-sykgy-sykgy" type="email" required />
                    </div>
                    <div class="col-xs-12 col-sm-6" style="text-align: left; padding-bottom: 10px">
                        <label for="fieldjykhuri" class="formLabel" style="padding-left: 2px">Gender</label><br />
                        <select id="fieldjykhuri" name="cm-fo-jykhuri">
                            <option value=""></option>
                            <option value="2869209">Male</option>
                            <option value="2869210">Female</option>
                            <option value="2869945">Other</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-6" style="text-align: left; padding-bottom: 10px">
                        <label for="fieldjykujij" class="formLabel" style="padding-left: 2px">Age</label><br />
                        <select id="fieldjykujij" name="cm-fo-jykujij">
                            <option value=""></option>
                            <option value="2869946">Younger</option>
                            <option value="2869947">18 - 24</option>
                            <option value="2869948">25 - 34</option>
                            <option value="2869949">35 - 44</option>
                            <option value="2869950">45 - 54</option>
                            <option value="2869951">55 - 64</option>
                            <option value="2869952">65 - 74</option>
                            <option value="2869953">Older</option>
                        </select>
                    </div>
                    <div class="col-xs-12" style="display: flex; justify-content: center; padding-bottom: 10px">
                        <div style="width: 200px">
                            <div class="red customCheckbox">
                                <input type="checkbox" value="2869211" id="fieldjykhujj" name="cm-fo-jykhujj">
                                <label class="inner" for="fieldjykhujj"></label>
                                <label class="outer" for="fieldjykhujj">Receive news from Plascon</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 centerContainer" style="padding-bottom: 10px">
                        <input id="fieldjykhujt" name="cm-f-jykhujt" type="hidden" value="1" />
                        <input id="fieldjjtrxk" value="Cape Town Decorex" name="cm-f-jjtrxk" type="hidden" />
                        <button class="actionButton" type="submit" style="" onclick="ga('send', { hitType: 'event', eventCategory: 'Entry', eventAction: 'Clicks', eventLabel: 'Submit' }); ">Submit<i class="fa fa-angle-right pull-right" style="font-size: 16px; padding-top: 3px"></i></button>
                    </div>
                    <div class="col-xs-12 centerContainer">
                        <a href="@termsUrl" target="_blank">Terms & Conditions</a>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div id="divPrev" class="overlayArrowPrev hidden">
        <img src="~/Content/Images/ArrowLeft.png" alt="Previous" style="width: 100%; height: 100%" />
    </div>

    <div id="divNext" class="overlayArrowNext hidden">
        <img src="~/Content/Images/ArrowRight.png" alt="Next" style="width: 100%; height: 100%" />
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var width = $(window).width();
        var height = $(window).height();
        var aspectRatio = width / height;
        var portraitRatio = 1;
        var letterBoxRatio = 1.5556;
        var backgroundCounter = 1;
        var refreshInterval;
        var displayType = "wide";
        var currentBackground = 1;
        var leftStop = 0;
        var swipeEnabled = false;
        var rooms = @Html.Raw(roomData);
        var ignoreResize = false;

        Number.prototype.pad = function(size) {
            var s = String(this);
            while (s.length < (size || 2)) {
                s = "0" + s;
            }
            return s;
        }

        window.addEventListener("load",
            function() {
                setTimeout(function() {
                        // This hides the address bar:
                        window.scrollTo(0, 1);
                    },
                    0);
            });

        function changeBackground() {
            $("#divBody").backstretch("/content/images/BackRoom_" + backgroundCounter.pad(2) + ".jpg?ver=@imageVersion",
                { transitionDuration: 500 });
            backgroundCounter = (backgroundCounter === @numberOfRooms) ? 1 : backgroundCounter + 1;
        }

        $(document).ready(function() {
            @if (!fromThankyou)
            {
                <text>
                    calculateRatio();
                    changeBackground();

                    rotateImage(-90);
                    setInterval(function() {
                            rotateImage(-90);
                        },
                        1500);

                    refreshInterval = setInterval(function() { changeBackground(); }, @backgroundChangeInterval);

                    $("#imgSlider").attr("src", "/Content/Images/" + displayType + "/Room_01.jpg");
                    $("#imgSliderPortrait").attr("src", "/Content/Images/Wide/Room_01.jpg");

                    console.log('asdfasdfasdfsd');
                    $("input").focus(function() {
                        ignoreResize = true;
                    });
                </text>
            }
            else
            {
                <text>
                    var persistBackground = localStorage.getItem("roomNumber");
                    if (isNaN(persistBackground)) {
                        persistBackground = 1;
                    }
                    $("#divBody").backstretch(
                        "/content/images/BackRoom_" +
                        ('0' + persistBackground.toString()).substr(persistBackground.length - 1, 2) +
                        ".jpg?ver=@imageVersion",
                        { transitionDuration: 500 });

                    $("#divMainLandscape").addClass("hidden");
                    $("#divThankYou").removeClass("hidden");

                    if (deviceDetector.device === 'phone') {
                        $("#divThankYouLogo").css("width", "40%");
                        $(".thankyouMessageTitle").css("font-size", "4.5vw");
                        $(".thankyouMessageText").css("font-size", "3vw");
                        $("a").css("font-size", "2.5vw");
                    }
                </text>
            }
        });

        $("#btnStart").on("click",
            function() {
                clearInterval(refreshInterval);
                $("#divBody").backstretch("/content/images/BackRoom_01.jpg?ver=@imageVersion",
                    { transitionDuration: 500 });
                $(".logoContent").addClass("hidden");
                $("#divRoom").removeClass("hidden");
                //$("#imgDecorex").addClass("hidden");
                //$("#divRoomContainer").removeClass("hidden");
                $("#sliderBullet1").addClass("homeDotRed");
                $("#btnStart").addClass("hidden");
                $("#btnChoose").removeClass("hidden");
                $("#divNext").removeClass("hidden");
                $("#divPrev").removeClass("hidden");
                $("#divRoomSelect").css("visibility", "visible");
                localStorage.setItem("roomNumber", 1);
                swipeEnabled = true;
                ga('send', {
                    hitType: 'event',
                    eventCategory: 'Entry',
                    eventAction: 'Clicks',
                    eventLabel: 'Start'
                });
            });

        $("#btnStartPortrait").on("click",
            function() {
                clearInterval(refreshInterval);
                $("#divBody").backstretch("/content/images/BackRoom_01.jpg?ver=@imageVersion",
                    { transitionDuration: 500 });
                $("#divPortraitIntro").addClass("hidden");
                $("#divPortraitRoom").removeClass("hidden");
                //$(".logoContent").addClass("hidden");
                //$("#divRoom").removeClass("hidden");
                //$("#imgDecorex").addClass("hidden");
                //$("#divRoomContainer").removeClass("hidden");
                $("#sliderBulletPortrait1").addClass("homeDotRed");
                $("#btnStartPortrait").addClass("hidden");
                $("#btnChoosePortrait").removeClass("hidden");
                $("#divNext").removeClass("hidden");
                $("#divPrev").removeClass("hidden");
                $("#divRoomSelectPortrait").css("visibility", "visible");
                localStorage.setItem("roomNumber", 1);
                swipeEnabled = true;
                ga('send', {
                    hitType: 'event',
                    eventCategory: 'Entry',
                    eventAction: 'Clicks',
                    eventLabel: 'Start'
                });
            });

        $(window).on('resize',
            function() {
                calculateRatio();
            });

        function calculateRatio() {
            //if (ignoreResize) {
            //    ignoreResize = false;
            //    return;
            //}

            var usableHeight = $(window).height() - (parseInt($(".frameContainer").css("marginTop")) * 2);
            var usableWidth = $(window).width() - (parseInt($(".frameContainer").css("marginLeft")) * 2);
            var ratio = 1;
            width = $(window).width();
            height = $(window).height();
            aspectRatio = width / height;

            if (aspectRatio <= portraitRatio) {
                $("#divMainLandscape").addClass("hidden");
                $("#divMainPortrait").removeClass("hidden");
                if (deviceDetector.device === 'phone') {
                    $("#divWarning").addClass("hidden");
                }
                //$("#divNext").addClass("hidden");
                //$("#divPrev").addClass("hidden");
            }

            if (aspectRatio > portraitRatio && aspectRatio <= letterBoxRatio) {
                ratio = 0.72;
                displayType = "letter";

                if (!$("#divForm").hasClass("hidden")) {
                    captureForm();
                } else {
                    if (deviceDetector.device === 'phone') {
                        $("#divMainLandscape").addClass("hidden");
                        $("#divMainPortrait").addClass("hidden");
                        $("#divWarning").removeClass("hidden");
                    } else {
                        $("#divMainLandscape").removeClass("hidden");
                        $("#divMainPortrait").addClass("hidden");
                        $("#divWarning").addClass("hidden");

                        try {
                            $("#imgSlider").attr('src', $("#imgSlider").attr('src').replace('wide', 'letter'));
                        } catch (err) {
                            //ignore
                        }
                    }
                }
            }

            if (aspectRatio > letterBoxRatio) {
                ratio = 1;
                displayType = "wide";

                if (!$("#divForm").hasClass("hidden")) {
                    captureForm();
                } else {
                    if (deviceDetector.device === 'phone') {
                        $("#divMainLandscape").addClass("hidden");
                        $("#divMainPortrait").addClass("hidden");
                        $("#divWarning").removeClass("hidden");
                    } else {
                        $("#divMainLandscape").removeClass("hidden");
                        $("#divMainPortrait").addClass("hidden");
                        $("#divWarning").addClass("hidden");

                        try {
                            $("#imgSlider").attr('src', $("#imgSlider").attr('src').replace('letter', 'wide'));
                        } catch (err) {
                            //ignore
                        }
                    }
                }
            }

            var ratioHeight = usableHeight * ratio;

            if (usableWidth - ratioHeight > ratioHeight) {
                $(".div1").css("width", ratioHeight + "px");
                $(".div2").css("width", usableWidth - (ratioHeight * 2) - 2 + "px");
                if (parseInt($(".div2").css("width")) > 150) {
                    var excessWidth = parseInt($(".div2").css("width")) - 150;
                    var mainWidth = parseInt($(".div1").css("width"));

                    $(".div1").css("width", mainWidth + excessWidth + "px");
                    $(".div2").css("width", "150px");
                }
            } else {
                $(".div1").css("width", usableWidth - ratioHeight - 2 + "px");
                $(".div2").css("width", "0");
            }
            $(".div3").css("width", ratioHeight + "px");
            return;

        }

        $("#divNext").on("click",
            function() {
                nextClick();
            });

        $("#divPrev").on("click",
            function() {
                previousClick();
            });

        function nextClick() {
            currentBackground = (currentBackground === @numberOfRooms) ? 1 : currentBackground + 1;
            if (deviceDetector.device === 'phone') {
                changeRoomPortrait(currentBackground, 'left');
            } else {
                changeRoom(currentBackground, 'left');
            }
        }

        function previousClick() {
            currentBackground = (currentBackground === 1) ? @numberOfRooms : currentBackground - 1;
            if (deviceDetector.device === 'phone') {
                changeRoomPortrait(currentBackground, 'right');
            } else {
                changeRoom(currentBackground, 'right');
            }
        }

        function changeRoomPortrait(roomNumber, direction) {
            var myRight = $("#divPortraitRoom").width();

            $("#divNext").off("click");
            $("#divPrev").off("click");
            currentBackground = roomNumber;
            localStorage.setItem("roomNumber", roomNumber);
            $("#fieldjykhujt").val(roomNumber);

            $("#divBody").backstretch(
                "/content/images/BackRoom_" + currentBackground.pad(2) + ".jpg?ver=@imageVersion",
                { transitionDuration: 500 });
            $(".homeDotSpacing").removeClass("homeDotRed");
            $("#sliderBulletPortrait" + currentBackground).addClass("homeDotRed");

            if (direction === 'left') {
                $("#divPortraitRoom").animate({ "left": "-" + width + "px", "opacity": 1 },
                    "fast",
                    function () {
                        $("#imgSliderPortrait").attr("src", "/Content/Images/Wide/Room_" + currentBackground.pad(2) + ".jpg?ver=@imageVersion");
                        $("#divPortraitRoom").css('left', myRight + 41);
                        $("#divPortraitRoom").animate({ "left": 0, "opacity": 1 }, "fast");
                        $("#divNext").on("click", nextClick);
                        $("#divPrev").on("click", previousClick);
                    });
            } else {
                $("#divPortraitRoom").animate({ "left": width + "px", "opacity": 1 },
                    "fast",
                    function() {
                        $("#imgSliderPortrait").attr("src",
                            "/Content/Images/Wide/Room_" + currentBackground.pad(2) + ".jpg?ver=@imageVersion");
                        $("#divPortraitRoom").css('left', "-" + width + "px");
                        $("#divPortraitRoom").animate({ "left": 0, "opacity": 1 }, "fast");
                        $("#divNext").on("click", nextClick);
                        $("#divPrev").on("click", previousClick);
                    });
            }
        }

        function changeRoom(roomNumber, direction) {
            var myRight = $(".div3").width();

            $("#divNext").off("click");
            $("#divPrev").off("click");
            currentBackground = roomNumber;
            localStorage.setItem("roomNumber", roomNumber);
            $("#fieldjykhujt").val(roomNumber);

            $("#divBody").backstretch(
                "/content/images/BackRoom_" + currentBackground.pad(2) + ".jpg?ver=@imageVersion",
                { transitionDuration: 500 });
            $(".homeDotSpacing").removeClass("homeDotRed");
            $("#sliderBullet" + currentBackground).addClass("homeDotRed");

            if (direction === 'left') {
                $(".div3").animate({ "left": "-" + width + "px", "opacity": 1 },
                    "fast",
                    function() {
                        $("#imgSlider").attr("src",
                            "/Content/Images/" +
                            displayType +
                            "/Room_" +
                            currentBackground.pad(2) +
                            ".jpg?ver=@imageVersion");
                        $(".div3").css('left', myRight + 41);
                        $(".div3").animate({ "left": 0, "opacity": 1 }, "fast");
                        $("#divNext").on("click", nextClick);
                        $("#divPrev").on("click", previousClick);
                    });
            } else {
                $(".div3").animate({ "left": width + "px", "opacity": 1 },
                    "fast",
                    function() {
                        $("#imgSlider").attr("src",
                            "/Content/Images/" +
                            displayType +
                            "/Room_" +
                            currentBackground.pad(2) +
                            ".jpg?ver=@imageVersion");
                        $(".div3").css('left', "-" + width + "px");
                        $(".div3").animate({ "left": 0, "opacity": 1 }, "fast");
                        $("#divNext").on("click", nextClick);
                        $("#divPrev").on("click", previousClick);
                    });
            }
        }

        $("#btnChoosePortrait").on("click",
            function() {
                var currentRoomNo = currentBackground.pad(2);
                var room;

                $.each(rooms.room,
                    function(i, v) {
                        if (v.number === currentRoomNo) {
                            room = v;
                            return false;
                        }
                    });

                $("#divRoomDetailPortrait").removeClass("hidden");
                $("#divRoomDetailPortrait").css("background-color", room.rgb);
                $(".roomHeaderPortrait").html(room.title);
                $(".roomTextPortrait").html(room.text);

                $(".hideWhenChosen").css('visibility', 'hidden');
                $("#divPrev").addClass("hidden");
                $("#divNext").addClass("hidden");
                swipeEnabled = false;
                ga('send', {
                    hitType: 'event',
                    eventCategory: 'Entry',
                    eventAction: 'Clicks',
                    eventLabel: 'Room ' + currentRoomNo
                });
            });

        $("#btnChoose").on("click",
            function() {
                var currentRoomNo = currentBackground.pad(2);
                var room;

                $.each(rooms.room,
                    function(i, v) {
                        if (v.number === currentRoomNo) {
                            room = v;
                            return false;
                        }
                    });

                $("#divRoomDetail").removeClass("hidden");
                $("#divRoomDetail").css("background-color", room.rgb);
                $(".roomHeader").html(room.title);
                $(".roomText").html(room.text);

                $(".hideWhenChosen").css('visibility', 'hidden');
                $("#divPrev").addClass("hidden");
                $("#divNext").addClass("hidden");
                swipeEnabled = false;

                ga('send', {
                    hitType: 'event',
                    eventCategory: 'Entry',
                    eventAction: 'Clicks',
                    eventLabel: 'Room ' + currentRoomNo
                });
            });

        $(".backButton").on("click",
            function() {
                $("#divRoomDetail").addClass("hidden");

                $(".hideWhenChosen").css('visibility', 'visible');
                $("#divPrev").removeClass("hidden");
                $("#divNext").removeClass("hidden");

                swipeEnabled = true;
            });

        $(".backButtonPortrait").on("click",
            function() {
                $("#divRoomDetailPortrait").addClass("hidden");

                $(".hideWhenChosen").css('visibility', 'visible');
                $("#divPrev").removeClass("hidden");
                $("#divNext").removeClass("hidden");

                swipeEnabled = true;
            });

        function captureForm() {
            $("#divMainLandscape").addClass("hidden");
            $("#divMainPortrait").addClass("hidden");
            $("#divMainPortrait").children().addClass("hidden");
            $("#divForm").removeClass("hidden");

            if (deviceDetector.device === 'phone') {
                $("#divBody").css('height', $("#divBody").height() + 'px');
                $(".pageContainer").css('height', $(".pageContainer").height() + 5 + 'px');
                $("#divForm").css('height', $("#divForm").height() + 'px');
                $(".form_Logo").css('width', '60% !important');
                $(".formLabel").css('font-size', '3vw');
                $('input[type=text], input[type=email]').css('padding', '5px').css('border-radius', '5px');
                $('select').css('padding', '5px').css('border-radius', '5px');
                $(".customCheckbox label.outer").css('font-size', '3vw').css('line-height', '7vw');
                $("a").css("font-size", "2.5vw");
            }

            ga('send', {
                hitType: 'event',
                eventCategory: 'Entry',
                eventAction: 'Clicks',
                eventLabel: 'Enter'
            });
        }

        function done() {
            localStorage.setItem("roomNumber", "");
            window.location.href = "/";
        }

        $(function() {
            $(document).swipe({
                swipe: function(event, direction, distance, duration, fingerCount, fingerData) {
                    if (swipeEnabled) {
                        if (direction === 'left') {
                            nextClick();
                        }
                        if (direction === 'right') {
                            previousClick();
                        }
                    }
                },
                threshold: 20
            });
        });

        function rotateImage(degree) {
            $('#imgRotate').animate({
                    transform: degree
                },
                {
                    step: function(now, fx) {
                        $(this).css({
                            '-webkit-transform': 'rotate(' + now + 'deg)',
                            '-moz-transform': 'rotate(' + now + 'deg)',
                            'transform': 'rotate(' + now + 'deg)'
                        });
                    },
                    duration: 1200,
                    complete: function() {
                        $('#imgRotate').animate({
                                transform: degree
                            },
                            {
                                step: function(now, fx) {
                                    now += 90;
                                    $(this).css({
                                        '-webkit-transform': 'rotate(-' + now + 'deg)',
                                        '-moz-transform': 'rotate(-' + now + 'deg)',
                                        'transform': 'rotate(-' + now + 'deg)'
                                    });
                                },
                                duration: 200,
                            });
                    }
                });
        }

        $.wait = function(ms) {
            var defer = $.Deferred();
            setTimeout(function() { defer.resolve(); }, ms);
            return defer;
        };
    </script>

    <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
}
