﻿
@{
    ViewBag.Title = "TermsAndConditions";
}

<style>
    body {
        background-color: #494949 !important
    }


</style>

<div class="termsContainer">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 termsLogo">
            <img src="~/Content/Images/PlasconDFL.png" class="img-responsive termsLogoImage" alt="Plascon" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 col-sm-8 col-sm-offset-2 termsHeaderContainer">
            <span class="termsHeader">Terms & Conditions</span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 termsContentContainer">
            <p class="termsContent">
                By entering the Kansai Plascon Decorex 2018 Competition, the entrants agree to the terms and conditions as set out below.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 termsContentContainer">
            <span class="termsHeadline">The Prizes</span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 termsContentContainer">
            <p class="termsContent">
                <ul>
                    <li>Ten lucky consumers per Decorex show being held in Durban, Cape Town & Johannesburg will stand a chance of winning 20 complimentary tickets (ten consumers – 2 comps per consumer) to the show in the region they are based in at the time of entering the competition.</li>
                    <li>Five lucky consumers per regional show will stand a chance of winning 2 x 20lt of one of Plascon’s loved brands in their desired colour.</li>
                    <li>
                        Show dates and cities :-
                        <ul>
                            <li>Durban: 21 - 24 March 2018</li>
                            <li>Cape Town: 27 April - 1 May 2018</li>
                            <li>Johannesburg: 8 - 12 August 2018</li>
                        </ul>
                    </li>
                    <li>Kansai Plascon will arrange for the winner to collect their paint from a Plascon Retailer located in the Region where the Consumer participated in the competition.</li>
                    <li>Decorex tickets will be made available at the show entrance in the region that the consumer won the tickets in.</li>
                    <li>Any other expenses incurred to collect or claim the prize will be for the winner’s account. The winner must thereafter arrange his/her own transport, accommodation and spending money should this be incurred.</li>
                    <li>Kansai Plascon will not be held responsible for any damage, loss, theft or death caused during the term of the competition or during the attendance of the winners to any of the Decorex shows or during the collection of the paint from the specified Plascon Paint Retailer.</li>
                    <li>Winners can select their own paint colours, however, the brand will be decided by Kansai Plascon in its sole and absolute discretion.</li>
                </ul>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 termsContentContainer">
            <span class="termsHeadline">Terms & Conditions</span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 termsContentContainer">
            <p class="termsContent">
                <ul>
                    <li>These are the standard terms and conditions for competitions conducted or organised by or in association with Kansai Plascon.</li>
                    <li>Your entry into the competition and/or your acceptance of a prize (in the event that you win a prize) constitutes your binding acceptance of the terms and conditions on behalf of yourself and any person with whom you may share a prize (in the event that you win a prize which is for you and one or more additional persons).</li>
                    <li>The Organiser is Kansai Plascon (Pty) Ltd, 10 Frederick Cooper Drive, Factoria, Krugersdorp, South Africa.</li>
                    <li>No persons under the age of 18 years of age may enter.</li>
                    <li>This promotion is open to residents of the Republic of South Africa aged 18 years and above who are in possession of a valid identity document ("the participants") and excludes employees and families of employees of Kansai Plascon (Pty) Ltd, their advertising agents, sales agents, promotional agents or any other person connected with or involved in the organizing and running of this promotion.</li>
                    <li>You may not participate in or win a competition if you have won a competition organised by Kansai Plascon within the past eight months. You will be eligible to participate in a competition organised by Kansai Plascon after the expiry of eight months after the date on which you won the last competition.</li>
                    <li>One entry is permitted per person.</li>
                    <li>
                        The promotion will commence on the following dates for the following areas :
                        <ul>
                            <li>Durban: 8 March 2018 - 24 March 2018</li>
                            <li>Cape Town: 1 April - 1 May 2018</li>
                            <li>Johannesburg: 12 July 2018 - 12 August 2018</li>
                        </ul>
                    </li>
                    <li>The winners will be contacted directly, and his/her name will appear on social media as a winner.</li>
                    <li>The award of all prizes is subject to the winner consenting to publication of his/her name and photographs.</li>
                    <li>All prizes are awarded at the discretion of the Organiser. The Organiser reserves the right, at its own discretion, to substitute a prize with any other prize of comparable commercial value. The Organiser will not be liable for any latent defects in any prizes awarded.</li>
                    <li>In the event that you win a prize provided by a third party supplier, the supplier will contact you to arrange the collection thereof. In this regard, you must collect the prize at the time and date arranged with the supplier of the prize. All correspondence regarding the prize must be directed at the supplier of the prize. The Organiser will not be responsible or entertain any further correspondence in relation to harm, damage, loss or any claim relating to the provision of any element of the prize.</li>
                    <li>The Organiser and its third party suppliers, as the case maybe, reserve the right to vary, postpone, suspend, or cancel the competition and any prizes or any aspect thereof, without notice at any time, for any reason which we deem necessary. In the event of such variations, postponement, suspension or cancellation, you agree to waive any rights, interests and expectations that you may have in terms of this competition and acknowledge that you will have no recourse against the Organiser, its affiliates and third party suppliers.</li>
                    <li>You agree that your participation in the competition, and your acceptance and/or use of a prize, or any aspect thereof, is at your own risk.</li>
                    <li>The judges’ decision is final and no correspondence will be entered into.</li>
                    <li>Prizes are not transferable and may not be deferred, changed or exchanged for cash or any other item.</li>
                    <li>Incomplete and incorrect entries will not be considered for a draw. Participants and winners absolve the Organiser, its advertising agencies, advisers and suppliers from liability for all claims howsoever arising from willful misconduct or negligent acts or omission on the part of any such person.</li>
                    <li>The Organiser will not offer and shall not be liable to make payment of any monies to any person entering the promotion, other than to the prize winner in accordance with these terms and conditions.</li>
                    <li>The Organiser shall not be liable if, for any reason whatsoever, it is unable to contact the participant linked to the winning cellphone number within 24 hours of being drawn.</li>
                    <li>The Organiser may in its sole discretion determine that the participant forfeits the prize and the Organiser has the discretionary right to draw a new cellphone number from the eligible entries.</li>
                    <li>The Organiser shall not be liable, once the winning cellphone numbers have been notified, for any reason, it is unable to contact the participant linked to the winning cellphone number for a period longer than 7 (seven) business days and no prior arrangements (for example, alternative contact details) have been made by the winner. The Organiser may in its sole discretion determine that the participant forfeits the prize and the Organiser has the discretionary right to draw a new cellphone number from the eligible entries.</li>
                    <li>The Organiser will not be liable for any delays in delivery of the prize.</li>
                    <li>Prizes are not transferable and/or negotiable. The winners will be notified of the win by telephone. Notification of the identity of the winner must be kept confidential until the winner's identity is publicly revealed by the Organiser. The Organiser reserves the right to carry out reasonable due diligence to confirm the eligibility of the participant in order to ensure that the use of any such person in advertising or publicity for the Promotion will not bring the Organiser or any of the Organiser brands into public disrepute, contempt, scandal, ridicule or reflect unfavorably on the Promotion, as determined by the Organiser in its sole discretion.</li>
                    <li>At the Organiser's request, prize winners must participate in all promotional activities organised by the Organiser (such as publicity and photography) surrounding the winning of the prize, free of charge, and the prize winner consents to the Organiser making use of his/her name, likeness, image and/or voice (including without limitation photographs, film and/or recordings) in promotional material or in any media for an unlimited period and without remuneration for the purpose of promoting this promotion (including any outcome), and for promoting any products manufactured, distributed and/or supplied by the Organiser.</li>
                    <li>Winner's details will be posted onto the Organiser's website www.plascon.com and Plascon’s social media pages.</li>
                    <li>Participants' details will be used strictly for marketing purposes by the Organiser and will not be sold to third parties.</li>
                    <li>By entering this promotion, the participant accepts the full terms and conditions of this promotion and agrees to abide by these terms and conditions issued by The Organiser with regard to the promotion.</li>
                    <li>Participation in this promotion and subsequent use of the prize is at OWN RISK and participants and prize winners hereby indemnify and hold harmless the Organiser, its employees, agents, organisers of this promotion, advertising agencies, advisers and any other related parties, against all claims, losses and liability whether direct or indirect incurred by any participant arising from or in connection with this promotion, including without limitation, personal injuries, death and property damage and claims based on publicity rights, defamation or invasion of privacy, howsoever arising.</li>
                    <li>The Organiser reserves the right to amend or withdraw this promotion in whole or in part, at any stage temporarily or permanently, without prior notice or compensation. In the event of any such amendment or withdrawal, all participants hereby agree to waive any rights they may have in terms of this promotion and acknowledge that they have no recourse against the Organiser, its agents and/or related parties involved in the running of this promotion.</li>
                    <li>This promotion is governed by the laws of the Republic of South Africa and is subject to the exclusive jurisdiction of the South African courts.</li>
                </ul>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 termsContentContainer">
            <span class="termsHeadline">Standard Terms & Conditions</span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 termsContentContainer">
            <p class="termsContent">
                These are the standard terms and conditions for competitions conducted or organised by or in association with Kansai Plascon.
            </p>
            <p class="termsContent">
                Your entry into the competition and/or your acceptance of a prize (in the event that you win a prize) constitutes your binding acceptance of the terms and conditions on behalf of yourself and any person with whom you may share a prize (in the event that you win a prize which is for you and one or more additional persons).
            </p>
            <p class="termsContent">
                The Organiser is Kansai Plascon (Pty) Ltd, 10 Frederick Cooper Drive, Factoria, Krugersdorp, South Africa. No persons under the age of 18 years of age may enter.
            </p>
            <p class="termsContent">
                This promotion is open to residents of the Republic of South Africa aged 18 years and above who are in possession of a valid identity document ("the participants") and excludes employees and families of employees of Kansai Plascon (Pty) Ltd, their advertising agents, sales agents, promotional agents or any other person connected with or involved in the organizing and running of this promotion.
            </p>
            <p class="termsContent">
                You may not participate in or win a competition if you have won a competition organised by Kansai Plascon within the past eight months. You will be eligible to participate in a competition organised by Kansai Plascon after the expiry of eight months after the date on which you won the last competition.
            </p>
            <p class="termsContent">
                Multiple entries are permitted, provided that each entry is submitted separately and is in no way similar in content or copy to a previous submission, and is in accordance with entry requirements.
            </p>
            <p class="termsContent">
                The winners may be contacted via digital channels, and subject to the granting of permission by the winner, his/her name may appear on social media as a winner.
            </p>
            <p class="termsContent">
                All prizes are awarded at the discretion of the Organiser. The Organiser reserves the right, at its own discretion, to substitute a prize with any other prize of comparable commercial value. The Organiser will not be liable for any latent defects in any prizes awarded.
            </p>
            <p class="termsContent">
                In the event that you win a prize provided by a third party supplier, the supplier will contact you to arrange the collection thereof. In this regard, you must collect the prize at the time and date arranged with the supplier of the prize. All correspondence regarding the prize must be directed at the supplier of the prize. The Organiser will not be responsible or entertain any further correspondence in relation to harm, damage, loss or any claim relating to the provision of any element of the prize.
            </p>
            <p class="termsContent">
                The Organiser and its third party suppliers, as the case may be, reserve the right to vary, postpone, suspend, or cancel the competition and any prizes or any aspect thereof, without notice at any time, for any reason which we deem necessary. In the event of such variations, postponement, suspension or cancellation, you agree to waive any rights, interests and expectations that you may have in terms of this competition and acknowledge that you will have no recourse against the Organiser, its affiliates and third party suppliers.
            </p>
            <p class="termsContent">
                You agree that your participation in the competition, and your acceptance and/or use of a prize, or any aspect thereof, is at your own risk.
            </p>
            <p class="termsContent">
                The judges’ decision is final and no correspondence will be entered into.
            </p>
            <p class="termsContent">
                Prizes are not transferable and may not be deferred, changed or exchanged for cash or any other item.
            </p>
            <p class="termsContent">
                Incomplete and incorrect entries will not be considered for a draw. Participants and winners absolve the Organiser, its advertising agencies, advisers and suppliers from liability for all claims howsoever arising from willful misconduct or negligent acts or omission on the part of any such person.
            </p>
            <p class="termsContent">
                The Organiser will not offer and shall not be liable to make payment of any monies to any person entering the promotion, other than to the prize winner in accordance with these terms and conditions.
            </p>
            <p class="termsContent">
                The Organiser will not be responsible or liable for any non-delivery of entries.
            </p>
            <p class="termsContent">
                The Organiser shall not be liable for any reason, should it be unable to contact the participant for a period longer than 7 (seven) business days and no prior arrangements (for example, alternative contact details) have been made by the winner. The Organiser may in its sole discretion determine that the participant forfeits the prize and the Organiser has the discretionary right to conduct a new draw from the eligible entries.
            </p>
            <p class="termsContent">
                The Organiser will not be liable for any delays in delivery of the prize.
            </p>
            <p class="termsContent">
                Prizes are not transferable and/or negotiable. Notification of the identity of the winner will be kept confidential until the winner's identity is publicly revealed by the Organiser. The Organiser reserves the right to carry out reasonable due diligence to confirm the eligibility of the participant in order to ensure that the use of any such person in advertising or publicity for the Promotion will not bring the Organiser or any of the Organiser brands into public disrepute, contempt, scandal, ridicule or reflect unfavourably on the Promotion, as determined by the Organiser in its sole discretion.
            </p>
            <p class="termsContent">
                At the Organiser's request, prize winners may participate in all promotional activities organised by the Organiser (such as publicity and photography) surrounding the winning of the prize, free of charge, and the prize winner may consent to the Organiser making use of his/her name, likeness, image and/or voice (including without limitation photographs, film and/or recordings) in promotional material or in any media for an unlimited period and without remuneration for the purpose of promoting this promotion (including any outcome), and for promoting any products manufactured, distributed and/or supplied by the Organiser.
            </p>
            <p class="termsContent">
                Winner's details may be posted onto the Organiser's website www.plascon.com and Plascon’s social media pages.
            </p>
            <p class="termsContent">
                The winner/winners shall in all circumstances have a choice as to whether they wish to participate in any promotional/market activities and shall further have a choice as to whether to decline to permit the use of his/her image in any promotional/marketing activities.
            </p>
            <p class="termsContent">
                Participants' details will be used strictly for marketing purposes by the Organiser and will not be sold to third parties.
            </p>
            <p class="termsContent">
                By entering this promotion, the participant accepts the full terms and conditions of this promotion and agrees to abide by these terms and conditions issued by The Organiser with regard to the promotion.
            </p>
            <p class="termsContent">
                Participation in this promotion and subsequent use of the prize is at OWN RISK and participants and prize winners hereby indemnify and hold harmless the Organiser, its employees, agents, organisers of this promotion, advertising agencies, advisers and any other related parties, against all claims, losses and liability whether direct or indirect incurred by any participant arising from or in connection with this promotion, including without limitation, personal injuries, death and property damage and claims based on publicity rights, defamation or invasion of privacy, howsoever arising.
            </p>
            <p class="termsContent">
                The Organiser reserves the right to amend or withdraw this promotion in whole or in part, at any stage temporarily or permanently, without prior notice or compensation. In the event of any such amendment or withdrawal, all participants hereby agree to waive any rights they may have in terms of this promotion and acknowledge that they have no recourse against the Organiser, its agents and/or related parties involved in the running of this promotion.
            </p>
            <p class="termsContent">
                This promotion is governed by the laws of the Republic of South Africa and is subject to the exclusive jurisdiction of the South African courts.
            </p>
            <p class="termsContent">
                Terms and Conditions including information relating to prizes can be found at www.plascon.com for assistance or enquiries relating to the promotion, please call our helpline on 0860 20 40 60.
            </p>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1" style="padding-top: 50px; padding-bottom: 60px; line-height: 30px; display: flex; justify-content: center;">
            <span class="actionButton" id="btnStart" onclick="window.close();">Done<i class="fas fa-angle-right pull-right termsButton"></i></span>
        </div>
    </div>
</div>

